#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         stdout format raw local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats level admin

#---------------------------------------------------------------------
# Defaults
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------
# Frontend — port 80
#---------------------------------------------------------------------
frontend http_in
    bind *:80
    option forwardfor except 127.0.0.0/8

    # ping
    acl is_ping hdr(host) -i ping.nairvarun.com
    use_backend be_ping if is_ping

    # sus (cockpit)
    acl is_sus hdr(host) -i sus.nairvarun.com
    use_backend be_sus if is_sus

    default_backend be_404

#---------------------------------------------------------------------
# Frontend — port 6443
#---------------------------------------------------------------------
frontend k8s_in
    bind *:6443
    mode tcp
    option tcplog

   default_backend be_k8s

#---------------------------------------------------------------------
# ping.nairvarun.com — healthcheck responder
#---------------------------------------------------------------------
backend be_ping
    http-request return status 200 content-type "text/plain" string "pong\n"

#---------------------------------------------------------------------
# sus.nairvarun.com — cockpit
#---------------------------------------------------------------------
backend be_sus
    server sus 192.168.0.7:9090 ssl verify none

#---------------------------------------------------------------------
# k8s.nairvarun.com — kubernetes
#---------------------------------------------------------------------
backend be_k8s
    mode tcp
    server k8s 192.168.0.2:6443

#---------------------------------------------------------------------
# Default — 404 for unmatched hosts
#---------------------------------------------------------------------
backend be_404
    http-request return status 404 content-type "text/plain; charset=utf-8" string "not found 🥀\n"

